
$dull-red:                                             rgba(219, 101, 116, 0.95);
$border:                                               1px solid #34373d;
$dark-font:                                            #8a8d93;
$purple:                                               #864DD9;
$active:                                               #6a6c70;
$light-font:                                           #494d53;
$light-back:                                           #34373d;
$back-color:                                           #2d3035;
$dark-back:                                            #22252a;
$green-primary:                                        #379392;